.Select-list {
  color: inherit;
  & .MuiOutlinedInput-notchedOutline {
    border-color: inherit;
  }

  & .MuiSvgIcon-root {
    color: white;
  }
}

.Input-container {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 15px;
}

.Input-field {
  background-color: #fff;
}
